@charset "UTF-8";

body {
	background-color: #fffeee;
	background-image: url();
	background-repeat: repeat-x;
	background-size: cover;
	height: 100%;
	background-position: 30px 80px;
	background: #aabbcc url() no-repeat center bottom/cover;
}

h1 {
	color: #0bd;
	color: red;
	font-size: 50px;
	font-size: 2rem;
	font-size: 20%;
	font-size: xx-small;
	font-size: xx-large;
	font-size: medium;
	font-family: serif;
	font-family: "游ゴシック体";
	font-weight: normal;
	font-weight: bold;
	font-weight: lighter;
	line-height: 1.7;
	text-align: justify;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: #21faed;
	color: rgb(0, 0, 0, .7);

}

p {
	font-size: 20px;
}
